img {
    height: 210px;
}

body {
    background-image: white;
}

label {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #a2a7ad;
    font-family: 'Fjalla One', sans-serif;
}

p {
    color: #354259;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

li {
    color: #8e9299;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

table {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h3 {
    color: #686b6e;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

hr {
    border-style: dotted none none;
    border-width: 2px;
    border height: thin;
    border-color: black;
    width: 300px;
}